# Created with jdDesktopEntryEdit 1.7
[Desktop Entry]
Type=Application
Name=Video Simili Duplicate Cleaner
GenericName=Duplicate Video Finder
Comment=Find and remove duplicate or similar video files
Icon=video-simili-duplicate-cleaner
Exec=video-simili-duplicate-cleaner
Categories=AudioVideo;Video;Utility;
